.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  --headerRowGap: clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
  gap: var(--headerRowGap);
}

.Heading {
  flex: 1 0 calc(70% - (var(--headerRowGap) / 2));
}

.ctaWrapper {
  flex: 1 0 calc(30% - (var(--headerRowGap) / 2));
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-left: auto;
  justify-content: flex-end;
  padding-top: clamp(0.25rem, -0.038rem + 1.282vw, 1.5rem);
  height: max-content;
}

.ctaButton {
  width: max-content;
  font-family: "Arial";
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(clamp(6rem, 4.212rem + 7.949vw, 13.75rem), 1fr)
  );
  --gridGap: clamp(0.5rem, 0.11rem + 1.731vw, 2.188rem);
  gap: var(--gridGap);
  width: 100%;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    transition: transform 0.2s ease;
    gap: clamp(1.5rem, 0.981rem + 2.308vw, 3.75rem);
    padding: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem)
      clamp(0.25rem, 0.192rem + 0.256vw, 0.5rem)
      clamp(0.25rem, 0.192rem + 0.256vw, 0.5rem)
      clamp(0.25rem, 0.192rem + 0.256vw, 0.5rem);
    border-radius: clamp(0.85rem, 0.758rem + 0.41vw, 1.25rem);
    box-shadow: 0 3.285px 10.949px 0 rgba(0, 0, 0, 0.13);
    height: clamp(10rem, 7.231rem + 12.308vw, 22rem);

    &:hover {
      transform: translateY(-4px);
    }

    .cardInner {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      --cardInnerGap: clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
      gap: var(--cardInnerGap);
    }

    .cardTitle {
      flex: 0 0 calc(34% - var(--cardInnerGap));
      align-items: flex-start;
      color: #fff;
      font-size: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 100%;
      padding-inline: 0.5rem;
    }

    .cardImageWrapper {
      flex: 0 0 calc(66% - var(--cardInnerGap));
      width: 100%;
      position: relative;
      // min-height: clamp(4.75rem, 2.904rem + 8.205vw, 12.75rem);
      // aspect-ratio: 16 / 10;
      overflow: hidden;
      border-radius: clamp(0.65rem, 0.569rem + 0.359vw, 1rem);

      .cardImage {
        // object-fit: contain;
        height: auto;
        width: 100%;
        aspect-ratio: 4 / 3;
      }
    }
  }

  &.fourCol {
    grid-template-columns: repeat(
      auto-fit,
      minmax(clamp(7.75rem, 4.75rem + 13.333vw, 20.75rem), 1fr)
    );
    --gridGap: clamp(0.5rem, 0.038rem + 2.051vw, 2.5rem);

    .card {
      min-width: unset; /* Remove min-width since grid handles sizing */
      box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
      // gap: clamp(3rem, 2.135rem + 3.846vw, 6.75rem);
      padding: clamp(1.25rem, 0.962rem + 1.282vw, 2.5rem)
        clamp(0.5rem, 0.385rem + 0.513vw, 1rem)
        clamp(0.5rem, 0.385rem + 0.513vw, 1rem)
        clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
      border-radius: clamp(1rem, 0.769rem + 1.026vw, 2rem);
      height: clamp(14rem, 9.385rem + 20.513vw, 34rem);

      .cardTitle {
        color: #1b1b1b;
        font-size: clamp(1.25rem, 0.962rem + 1.282vw, 2.5rem);
        text-align: center;
        padding: 0;
      }

      .cardImageWrapper {
        // min-height: clamp(7.5rem, 4.846rem + 11.795vw, 19rem);
        border-radius: clamp(0.85rem, 0.7rem + 0.667vw, 1.5rem);
      }
    }
  }
}

.cardImage {
  width: auto;
  height: 100%;
  object-fit: cover;
}

// for four column layout, adjust header row
.wrap:has(.grid.fourCol) {
  .Heading {
    flex: 1 0 calc(64% - (var(--headerRowGap) / 2));
  }

  .ctaWrapper {
    flex: 1 0 calc(34% - (var(--headerRowGap) / 2));
  }
}

@media (min-width: 600px) {
  .grid {
    &.fourCol {
      grid-template-columns: repeat(
        auto-fit,
        minmax(clamp(4rem, 0.135rem + 17.179vw, 20.75rem), 1fr)
      );

      .card {
        height: clamp(8rem, 2rem + 26.667vw, 34rem);
      }
    }
  }
}

