.specializedServicesSection {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.SectionHeader {
  text-align: center;
  width: 100%;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 541px;
  margin: 0 auto;
}

.imageWrapper {
  width: 100%;
  height: 314px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 19px;
  width: 100%;
}

.title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  margin: 0;
}

.description {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  transition: color 0.3s ease;
  width: fit-content;

  &:hover {
    color: #c7a034;

    svg {
      stroke: #c7a034;
    }
  }
}

.linkText {
  white-space: nowrap;
}

.arrowIcon {
  display: flex;
  transition: all 0.3s ease;
  transform: rotate(45deg);

  path {
    stroke: inherit;
    transition: stroke 0.3s ease;
  }
}

.link:hover .arrowIcon {
  transform: rotate(0deg);
}

/* Responsive styles */
// @media (max-width: 1440px) {
//   .servicesGrid {
//     grid-template-columns: repeat(3, 1fr);
//     gap: 32px;
//   }
// }

// @media (max-width: 1200px) {
//   .servicesGrid {
//     grid-template-columns: repeat(2, 1fr);
//     gap: 32px;
//   }
// }

// @media (max-width: 768px) {
//   .servicesGrid {
//     grid-template-columns: 1fr;
//     gap: 48px;
//   }
// }

// @media (max-width: 480px) {
//   .specializedServicesSection {
//     padding: 40px 0;
//   }

//   .serviceCard {
//     gap: 16px;
//   }

//   .content {
//     gap: 16px;
//   }
// }
