.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fadingMask {
  position: absolute;
  top: 0;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to right, #000000, transparent);
  z-index: 10;
}

// .fadingMask.left {
//   left: 0;
//   width: 24px;
// }

// .fadingMask.right {
//   right: 0;
//   width: 24px;
// }

.carouselInner {
  display: flex;
  width: max-content;
  gap: clamp(0.75rem, 0.462rem + 1.282vw, 2rem);
}

.carouselItem {
  flex-shrink: 0;
}

.imageContainer {
  position: relative;
  width: clamp(12.5rem, 9.615rem + 12.821vw, 25rem);
  height: auto;
  overflow: hidden;
  transition: all 0.7s ease;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.7s ease;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.7s ease;
}