.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.fadingMask {
  position: absolute;
  top: 0;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to right, #000000, transparent);
  z-index: 10;
}

// .fadingMask.left {
//   left: 0;
//   width: 24px;
// }

// .fadingMask.right {
//   right: 0;
//   width: 24px;
// }

.carouselInner {
  display: flex;
  width: max-content;
  gap: clamp(0.75rem, 0.462rem + 1.282vw, 2rem);
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.carouselItem {
  flex-shrink: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.imageContainer {
  position: relative;
  width: clamp(12.5rem, 9.615rem + 12.821vw, 25rem);
  height: auto;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
}

// .overlay {
//   position: absolute;
//   inset: 0;
//   background-color: rgba(0, 0, 0, 0.4);
//   transition: background-color 0.7s ease;
//   backface-visibility: hidden;
// }
