.section {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.SectionHeader {
  text-align: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: clamp(1.25rem, 0.846rem + 1.795vw, 3rem);
}

// Video Testimonials Grid
.videoGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  --gap: clamp(1rem, 0.538rem + 2.051vw, 3rem);
  gap: var(--gap);
}

.videoThumbnail {
  position: relative;
  overflow: hidden;
  border-radius: clamp(1rem, 0.769rem + 1.026vw, 2rem);
  cursor: pointer;
  aspect-ratio: 9/16;
  flex: 1 1 calc(100% / 3 - var(--gap));

  @media (max-width: 599px) {
    flex: 0 0 calc(100% / 2 - var(--gap));
  }

  &:hover {
    .playButton {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}

.videoImage {
  width: 100%;
  height: 100%;
  aspect-ratio: 9/16;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.videoOverlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
  transition: background-color 0.3s ease;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  background: transparent;
  width: clamp(1.5rem, 0.577rem + 4.103vw, 5.5rem);
  background: rgba(27, 27, 27, 0.5);
  backdrop-filter: blur(7);
  border-radius: 50%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

// Testimonials Grid
.testimonialsGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  --gap: clamp(0.5rem, -0.077rem + 2.564vw, 3rem);
  gap: var(--gap);
  width: 100%;
}

.card {
  display: flex;
  flex: 1 1 calc(50% - var(--gap) / 2);
  padding: clamp(0.875rem, 0.615rem + 1.154vw, 2rem) clamp(1rem, 0.654rem + 1.538vw, 2.5rem);
  flex-direction: column;
  gap: clamp(0.5rem, 0.096rem + 1.795vw, 2.25rem);
  border-radius: 0.75rem;
  border: 1px solid #000;
  background: #fff;
  overflow: hidden;

  @media (max-width: 767px) {
    flex: 1 1 100%;
  }
}

.quote {
  color: #000;
  font-family: "Montserrat";
  font-size: clamp(0.875rem, 0.788rem + 0.385vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
}

.authorInfo {
  display: flex;
  align-items: center;
  gap: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
}

.companyLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(1.75rem, 1.288rem + 2.051vw, 3.75rem);
  height: clamp(1.75rem, 1.288rem + 2.051vw, 3.75rem);
  flex-shrink: 0;
}

.logoImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.divider {
  width: 1px;
  height: 2rem;
  background: rgba(64, 54, 48, 0.4);
}

.personInfo {
  display: flex;
  flex-direction: column;
}

.personName {
  color: #000;
  font-family: "Montserrat";
  font-size: clamp(0.75rem, 0.663rem + 0.385vw, 1.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1rem, 0.841rem + 0.706vw, 1.688rem);
}

.personTitle {
  font-weight: 500;
  font-family: "Montserrat";
  font-size: clamp(0.75rem, 0.663rem + 0.385vw, 1.125rem);
}

// Star Rating
.starRating {
  display: flex;
  gap: 0.125rem;
  
}

.starFilled {
  width: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
  height: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
  color: #ffa43c;
  fill: #ffa43c;
}

.starEmpty {
  width: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
  height: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
  color: #ffa43c;
  fill: transparent;
}

// Inline Video Player
.videoPlayer {
  width: 100%;
  height: 100%;
  aspect-ratio: 9/16;
  object-fit: cover;
  border-radius: 2rem;
  display: block;
}
