.section {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden; // Allow rotated blocks to breathe

  .content {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow: visible;
    position: relative;
    padding-block: clamp(3rem, 2.769rem + 1.026vw, 4rem);
    align-self: center;
  }

  .imageWrapper {
    flex: 0 0 50%;
    position: relative;
    // min-height: 480px;
    aspect-ratio: 4 / 3;
    background: 32#e0e0e0;
    transform: rotate(-4deg);
    transform-origin: center right;
    overflow: hidden;
    margin-right: -4rem;
    z-index: 1;

    .Image {
      object-fit: cover;
    }
  }

  .definitionWrapper {
    flex: 0 0 50%;
    padding: clamp(1rem, 0.365rem + 2.821vw, 3.75rem);
    background: #fff;
    border: 2px solid #000;
    transform: rotate(4deg);
    transform-origin: center left;
    overflow: visible;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    z-index: 2; // higher stacking order
  }

  .definitionBox {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
    width: 100%;
  }

  .term {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1.5rem, 0.923rem + 2.564vw, 4rem);
    line-height: clamp(2.5rem, 1.923rem + 2.564vw, 5rem);
    display: flex;
    align-items: center;
    color: #191919;
  }

  .pronunciation {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.85rem, 0.7rem + 0.667vw, 1.5rem);
    line-height: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
    display: flex;
    align-items: center;
    color: #191919;
  }

  .definitions {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
    margin-top: clamp(0.5rem, 0.269rem + 1.026vw, 1.5rem);
  }

  .definitionItem {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
    line-height: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
    display: flex;
    align-items: flex-start;
    color: #191919;
  }

  .definitionNumber {
    font-weight: 600;
  }
}

@media (max-width: 1023px) {
  .content {
    padding-inline: 1rem;
  }

  .definitionWrapper,
  .imageWrapper {
    flex: 100% !important;
    transform-origin: center center;
    margin: 0 !important;
  }
}
