.qualificationSection {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.sectionContent {
  display: block;
  width: 100%;
  border-top: 0.0625rem solid #999;
}

.container {
  width: 100%;
}

.split {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: clamp(2rem, 1.019rem + 4.359vw, 6.25rem);

  @media (max-width: 699px) {
    flex-direction: column;
  }
}

.imageWrapper {
  flex: 1;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  background-color: #f5f5f5;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.769rem + 1.026vw, 2rem);
}

.title {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: clamp(1.25rem, 0.731rem + 2.308vw, 3.5rem);
  font-style: normal;
  font-weight: 300;
  line-height: clamp(1.75rem, 1.231rem + 2.308vw, 4rem);
}

.qualifications {
  padding-left: 1.375rem;
  list-style: disc;
}

.qualification,
.description {
  color: #333;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.731rem + 0.641vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
  letter-spacing: 0.015rem;
}
