.qualificationSection {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.sectionContent {
  display: block;
  width: 100%;
  border-top: 1px solid #999;
}

.container {
  width: 100%;
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: clamp(2rem, 1.019rem + 4.359vw, 6.25rem);
}

.imageWrapper {
  flex: 1;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  background-color: #f5f5f5;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.title {
  color: #000;
  font-family: "Helvetica";
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
}

.qualifications {
  padding-left: 22px;
  list-style: disc;
}

.qualification,
.description {
  color: #333;
  font-family: "Helvetica";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.24px;
}