.HomeTagline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #191919;
  font-family: "Outfit", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-block: clamp(1.5rem, 0.692rem + 3.59vw, 5rem);
  width: 100%;
}

.tagline {
  color: #fff;
  margin: 0;
}

.gradient {
  background: linear-gradient(
    90deg,
    #f15151 0%,
    #fcbda3 25%,
    #96d8c2 50%,
    #c3dff4 75%,
    #bab8dc 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Text alignment modifiers
.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}