.ctaSection {
  display: flex;
  justify-content: center;
  background-color: #252929;
  color: #fff;
  font-family: "Inter";
  width: 100%;
}

.ctaContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.25rem;
  align-items: center;
  padding-block: clamp(1.5rem, 1.385rem + 0.513vw, 2rem);

}

.ctaTitle {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  color: #fff;
  font-style: normal;
  gap: 0.75rem;
  // min-width: 12.5rem;

  h2 {
    font-size: clamp(1.15rem, 0.954rem + 0.872vw, 2rem);
    font-weight: 600;
    line-height: 1;
    width: 100%;
  }

  p {
    font-size: clamp(0.875rem, 0.788rem + 0.385vw, 1.25rem);
    font-weight: 300;
    width: 100%;
  }
}