.section {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  justify-self: center;
  width: 100%;
}

.stickyContainer {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  gap: clamp(2rem, 1.019rem + 4.359vw, 6.25rem);
  padding-inline: clamp(1.172rem, 0rem + 5.208vw, 6.25rem);
  padding-top: 6rem;
}

.header {
  flex-shrink: 0;
}

.layoutGrid {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 64px;
  min-height: 0;
}

.leftColumn {
  position: relative;
  width: 50%;
  height: 100%;
}

.listContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.timelineItem {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: all 700ms cubic-bezier(0.16, 1, 0.3, 1);
  padding-block: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 56px;
  background-color: #ffffff;

  &.active {
    border-color: #c7a034;
  }

  .year {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;

    &.active {
      color: #c7a034;
      font-weight: 400;
    }

    &.inactive {
      color: #9ca3af;
      font-weight: 300;
    }
  }

  .title {
    color: #c7a034;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;

    &.active {
      color: #c7a034;
      font-weight: 400;
    }

    &.inactive {
      color: #9ca3af;
      font-weight: 300;
    }
  }
}

.rightColumn {
  width: 50%;
  position: relative;
  flex: 1;

  .contentContainer {
    height: 100%;
    display: flex;
    align-items: flex-start;
  }

  .contentItem {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    width: 100%;
    transition: all 700ms ease-in-out;
    transform: translateY(0);
    opacity: 1;

    &.inactive {
      opacity: 0;
      transform: translateY(3rem);
      pointer-events: none;
    }

    .itemTitle {
      color: #000;
      font-family: 'Inter', sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
    }

    .description {
      color: #000;
      font-family: Helvetica;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;

      .highlight {
        color: #c7a034;
        font-weight: 500;
      }
    }
  }
}
