.section {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  justify-self: center;
  width: 100%;
}

.stickyContainer {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  gap: clamp(2rem, 1.019rem + 4.359vw, 6.25rem);
  padding-inline: clamp(1.172rem, 0rem + 5.208vw, 6.25rem);
  padding-top: 6rem;
}

.header {
  flex-shrink: 0;
}

.layoutGrid {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: clamp(1.5rem, 0.923rem + 2.564vw, 4rem);
  min-height: 0;
}

.leftColumn {
  position: relative;
  width: 50%;
  height: 100%;
}

.listContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.timelineItem {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid transparent;
  transition: all 700ms cubic-bezier(0.16, 1, 0.3, 1);
  padding-block: clamp(0.5rem, 1vw, 1rem);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(1rem, 0.423rem + 2.564vw, 3.5rem);
  background-color: #ffffff;

  &.active {
    border-color: #c7a034;
  }

  .year {
    font-family: 'Inter', sans-serif;
    font-size: clamp(0.75rem, 0.462rem + 1.282vw, 2rem);
    font-style: normal;
    font-weight: 400;
    line-height: clamp(1rem, 0.654rem + 1.538vw, 2.5rem);

    &.active {
      color: #c7a034;
      font-weight: 400;
    }

    &.inactive {
      color: #9ca3af;
      font-weight: 300;
    }
  }

  .title {
    color: #c7a034;
    font-family: 'Inter', sans-serif;
    font-size: clamp(0.75rem, 0.462rem + 1.282vw, 2rem);
    font-style: normal;
    font-weight: 400;
    line-height: clamp(1rem, 0.654rem + 1.538vw, 2.5rem);

    &.active {
      color: #c7a034;
      font-weight: 400;
    }

    &.inactive {
      color: #9ca3af;
      font-weight: 300;
    }
  }
}

.rightColumn {
  width: 50%;
  position: relative;
  flex: 1;

  .contentContainer {
    height: 100%;
    display: flex;
    align-items: flex-start;
  }

  .contentItem {
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.269rem + 1.026vw, 1.5rem);
    position: absolute;
    width: 100%;
    transition: all 700ms ease-in-out;
    transform: translateY(0);
    opacity: 1;
    padding-top: 0.5rem;

    &.inactive {
      opacity: 0;
      transform: translateY(3rem);
      pointer-events: none;
    }

    .itemTitle {
      display: none;
      color: #000;
      font-family: 'Inter', sans-serif;
      font-size: clamp(0.875rem, 0.5rem + 1.667vw, 2.5rem);
      font-style: normal;
      font-weight: 400;
      line-height: clamp(1.15rem, 0.838rem + 1.385vw, 2.5rem);
    }

    .description {
      color: #000;
      font-family: Helvetica;
      font-size: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
      font-style: normal;
      font-weight: 400;
      line-height: clamp(1rem, 0.769rem + 1.026vw, 2rem);

      .highlight {
        color: #c7a034;
        font-weight: 500;
      }
    }
  }
}
