.BrandsSlider {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.brandSlider {
  --logo-h: clamp(1.5rem, 0.923rem + 2.564vw, 4rem);
  --logo-gap: clamp(1.5rem, 1.038rem + 2.051vw, 3.5rem);
  --logo-filter: grayscale(0%);
}
