.aboutSection {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: flex-start;
  --gap: clamp(2rem, 1.019rem + 4.359vw, 6.25rem);
  gap: var(--gap);
  align-self: stretch;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 64px;
}



.imageWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.paragraph {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  white-space: pre-line;
}
