.headingWrap {
  display: grid;
  gap: 10px;
  width: 100%;
}

.heading {
  color: #000;
  font-size: clamp(1.5rem, 1.038rem + 2.051vw, 3.5rem);
  font-style: normal;
  font-weight: 600;
  line-height: clamp(1.75rem, 1.115rem + 2.821vw, 4.5rem);
  width: 100%;
}

.line {
  display: inline-block;
  white-space: pre-line; /* harmless if no \n */
}

/* NEW: supporting paragraph */
.support {
  margin: 0;
  // font-size: clamp(0.85rem, 0.585rem + 1.179vw, 2rem);
  font-size: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
  // line-height: clamp(1rem, 0.538rem + 2.051vw, 3rem);
  line-height: normal;
  font-weight: 400;
  width: 100%;
  white-space: pre-line; /* ✅ turns `\n` into <br> visually */
}

/* the only tokens the TS component will ever emit */
.gradientRed {
  background: var(
    --Brand-Gradient,
    linear-gradient(
      90deg,
      #f15151 0%,
      #fcbda3 25%,
      #96d8c2 50%,
      #c3dff4 75%,
      #bab8dc 100%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gray {
  color: #666666;
}
.white {
  color: #ffffff;
}
.black {
  color: #000000;
}
