// TaglineSection.module.scss
.AboutTagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(195, 223, 244, 0.5) 0%,
    rgba(187, 185, 220, 0.5) 100%
  );

  text-align: center;

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .taglineText {
    color: #191919;
    font-family: "Outfit";
    font-size: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100%;
    margin: 0;
  }
}
