.header {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
}

.eyebrow {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
  width: 100%;
}

.label {
  color: #C7A034;
  font-family: 'Inter', sans-serif;
  font-size: clamp(0.875rem, 0.817rem + 0.256vw, 1.125rem);
  font-style: normal;
  font-weight: 600;
  line-height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
  margin: 0;
}

.title {
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-size: clamp(1.25rem, 0.731rem + 2.308vw, 3.5rem);
  font-style: normal;
  font-weight: 300;
  line-height: clamp(1.75rem, 1.231rem + 2.308vw, 4rem);
  margin: 0;
  white-space: pre-line;

  .highlight {
    color: #c7a034;
  }
}

.subtitle {
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-size: clamp(0.875rem, 0.731rem + 0.641vw, 1.5rem);
  font-style: normal;
  font-weight: 300;
  line-height: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
  margin: 0;
}
