.section {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.wrap {
  display: flex;
  /* max-width: 1400px; */
  /* margin: 0 auto; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* mobile spacing */
// @media (max-width: 640px) {
//   .section {
//     padding: 56px 0;
//   }
// }
