.section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  --gap: clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
  gap: var(--gap);
}

.portfolioHeadingRow {
  flex: 0 0 calc(60% - var(--gap));
}

.ctaWrapper {
  flex: 0 0 calc(40% - var(--gap));
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  margin-left: auto;
}

.portfolioButton {
  color: #fff;
  background: #222;
  width: max-content;

  &:hover {
    background: #fff;
    color: #1b1b1b;
  }
}

.portfolioFooter {
  text-align: center;
  // margin-top: clamp(1.5rem, 1.154rem + 1.538vw, 3rem);
  color: #000;
  font-size: clamp(0.85rem, 0.646rem + 0.909vw, 1.736rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 600px) and (max-width: 1023px) {
  .portfolioHeadingRow {
    flex: 0 0 calc(70% - var(--gap));
  }
  .ctaWrapper {
    flex: 0 0 calc(30% - var(--gap));
  }
}
