// components/ui/Button/Button.module.scss
.button {
  text-decoration: none;
  line-height: 1;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;

  &:hover {
    .buttonText {
      color: #f6292f;
    }

    .buttonDecor {
      transform: translate(0);
    }
  }
}

.buttonDecor {
  position: absolute;
  inset: 0;
  background-color: var(--clr, #fff);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 0;
}

.buttonContent {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.buttonIcon {
  width: 60px;
  height: 55px;
  background-color: var(--clr, #f6292f);
  display: grid;
  place-items: center;
  flex-shrink: 0;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f6292f;
    font-size: 1rem;

    svg {
      width: 22px;
      height: 22px;
    }
  }
}

.buttonText {
  display: inline-block;
  transition: color 0.3s ease;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.primary {
  --clr: #fff;
}

.secondary {
  --clr: #2c3e50;
}

.outline {
  background-color: transparent;
  border: 2px solid #fff;

  .buttonIcon {
    background-color: transparent;
    border-right: 2px solid #fff;
  }

  .buttonText {
    color: #fff;
  }

  &:hover {
    .buttonText {
      color: #000;
    }
  }
}
