// components/ui/Button/Button.module.scss
.button {
  text-decoration: none;
  line-height: 1;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;

  &:hover {
    .buttonText {
      color: #f6292f;
    }

    .buttonDecor {
      transform: translate(0);
    }
  }
}

.buttonDecor {
  position: absolute;
  inset: 0;
  background-color: var(--clr, #fff);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 0;
}

.buttonContent {
  display: flex;
  align-items: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.buttonIcon {
  width: clamp(1.5rem, 1.212rem + 1.282vw, 2.75rem);
  height: clamp(1.5rem, 1.212rem + 1.282vw, 2.75rem);
  background-color: var(--clr, #f6292f);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &.customIconBg {
    background-color: var(--icon-clr, #f6292f) !important;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f6292f;
    font-size: clamp(0.75rem, 0.692rem + 0.256vw, 1rem);

    svg {
      width: 0.75rem;
      height: 0.75rem;
    }
  }
}

.buttonText {
  display: inline-block;
  transition: color 0.3s ease;
  padding: 0 clamp(0.75rem, 0.692rem + 0.256vw, 1rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 12.5rem;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.75rem, 0.692rem + 0.256vw, 1rem);
  line-height: 1.3125rem;
}

.primary {
  --clr: #fff;
}

.secondary {
  --clr: #2c3e50;
}

.outline {
  background-color: transparent;
  border: 2px solid #fff;

  .buttonIcon {
    background-color: transparent;
    border-right: 2px solid #fff;
  }

  .buttonText {
    color: #fff;
  }

  &:hover {
    .buttonText {
      color: #000;
    }
  }
}
