.button {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  padding: clamp(0.5rem, 0.442rem + 0.256vw, 0.75rem) clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
  border-radius: 9999px;
  font-weight: 600;
  font-size: clamp(0.75rem, 0.692rem + 0.256vw, 1rem);
  border: none;
  cursor: pointer;
  text-decoration: none;
  background: #222;
  color: #fff;

  // &:hover {
  //   background: #fff;
  //   color: #1b1b1b;
  // }
}

.icon {
  width: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
  height: auto;
}
