.wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  --rowGap: clamp(1rem, 0.077rem + 4.103vw, 5rem);
  gap: var(--rowGap);
  flex-wrap: wrap;
}

.left {
  flex: 1 0 calc(40% - (var(--rowGap)/2));
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.538rem + 2.051vw, 3rem);
}

.right {
  flex: 1 0 calc(60% - (var(--rowGap)/2));
  margin: 0;
  color: #191919;
  font-family: 'Outfit';
  font-size: clamp(1rem, 0.827rem + 0.769vw, 1.75rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1.5rem, 1.255rem + 1.09vw, 2.563rem);
  width: 100%;
  white-space: pre-line; /* ✅ turns `\n` into <br> visually */

}

.title {
  color: #000;
  font-size: clamp(1.5rem, 1.038rem + 2.051vw, 3.5rem);
  font-style: normal;
  font-weight: 600;
  line-height: clamp(1.75rem, 1.115rem + 2.821vw, 4.5rem);
  width: 100%;
}

.ctaWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  // justify-content: flex-end;
  width: 100%;
}

.ctaButton {
  color: #fff;
  background: #222;
  width: max-content;
  

  &:hover {
    background: #fff;
    color: #1b1b1b;
    border: 1px solid #1b1b1b;
  }
}

.reverse {
  flex-direction: row-reverse;
}

// @media (max-width: 900px) {
//   .wrap {
//     flex-direction: column;
//     gap: 2rem;
//   }
// }

@media (max-width: 799px) {
  .left {
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    flex: 1 0 calc(60% - (var(--rowGap)/2));
  }
  .ctaWrapper {
    flex: 1 0 calc(30% - (var(--rowGap)/2));
    justify-content: flex-end;
    align-items: center;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
 .left {
  flex: 1 0 calc(50% - (var(--rowGap)/2));
}

.right {
  flex: 1 0 calc(50% - (var(--rowGap)/2));
}
}