// components/HeroSection/HeroSection.module.scss
.hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  height: 100vh;
  justify-content: center;
  height: clamp(32rem, 24.615rem + 32.821vw, 64rem);
}

.mediaWrapper {
  position: absolute;
  inset: 0;
  z-index: 0;

  .media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.content {
  max-width: 60rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.title {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: clamp(2rem, 1.538rem + 2.051vw, 4rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: clamp(0.875rem, 0.731rem + 0.641vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1.5rem, 1.385rem + 0.513vw, 2rem);
  white-space: pre-line;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  .content--center & {
    justify-content: center;
  }

  .content--right & {
    justify-content: flex-end;
  }
}
