// components/HeroSection/HeroSection.module.scss
.hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.mediaWrapper {
  position: absolute;
  inset: 0;
  z-index: 0;

  .media {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 143px 100px;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

.content {
  max-width: 960px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
  align-self: stretch;
}

.title {
  color: #fff;
  font-family: Helvetica;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  color: #fff;
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  .content--center & {
    justify-content: center;
  }

  .content--right & {
    justify-content: flex-end;
  }
}
