.ProcessSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(2rem, 1.019rem + 4.359vw, 6.25rem);
}

.SectionHeader {
    max-width: 1280px;
    text-align: center;
}