.accordion {
  display: grid;
  gap: clamp(0.25rem, 0.192rem + 0.256vw, 0.5rem);
  width: 80%;
}

.item {
  border-radius: clamp(0.25rem, 0.192rem + 0.256vw, 0.5rem);
  overflow: hidden;
}

.heading {
  margin: 0;
}

.trigger {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  // gap: 1rem;
  padding-right: 0;
  background: #e4e4e4;
  border: none;
  border-radius: clamp(0.25rem, 0.192rem + 0.256vw, 0.5rem);
  text-align: left;
  cursor: pointer;
  position: relative;
}

.title {
  padding: clamp(0.5rem, 0.269rem + 1.026vw, 1.5rem);
  color: #161616;
  font-family: "Inter";
  font-size: clamp(0.75rem, 0.692rem + 0.256vw, 1rem);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(1rem, 0.913rem + 0.385vw, 1.375rem);
  letter-spacing: -0.05rem;
  max-width: 80%;
}

.icon {
  display: grid;
  place-items: center;
  position: absolute;
  right: 0;
  // width: clamp(2rem, 1.654rem + 1.538vw, 3.5rem);
  background: #dbdbdb;
  border-radius: clamp(0.25rem, 0.192rem + 0.256vw, 0.5rem);
  border: 0.0625rem solid rgba(0, 0, 0, 0.12);
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  width: clamp(2rem, 1.538rem + 2.051vw, 4rem);
}
.iconSvg {
  transition: transform 0.25s ease;
  width: clamp(0.675rem, 0.6rem + 0.333vw, 1rem);
  height: auto;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  color: #000; // force text color
  fill: #000; // fallback if color is ignored
}

/* only arrow rotates */
.open .icon svg {
  transform: rotate(90deg);
}

/* animated wrapper */
.panelWrap {
  height: 0;
  overflow: hidden;
  transition: height 0.25s ease;
}

/* answer card that drops below the header */
.panel {
  border: none;
  background: #fff;
  padding: clamp(0.5rem, 0.385rem + 0.513vw, 1rem)
    clamp(0.25rem, 0.192rem + 0.256vw, 0.5rem);
  text-align: left;
}

.content {
  margin: 0;
  color: #6d6d6d;
  font-family: "Inter";
  font-size: clamp(0.75rem, 0.721rem + 0.128vw, 0.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1rem, 0.942rem + 0.256vw, 1.25rem);
  letter-spacing: -0.05rem;
}

@media (max-width: 899px) {
  .accordion {
    width: 100%;
  }
}
