.hero {
  text-align: center;
  color: #000;
  height: 55vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 1.154rem + 1.538vw, 3rem);
  // max-width: 60rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-inline: clamp(1.172rem, 0rem + 5.208vw, 6.25rem);
}

.titleCol {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
  align-items: center;
}

.title {
  text-align: center;
  font-family: "Outfit";
  font-size: clamp(1.5rem, 0.923rem + 2.564vw, 4rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.highlight {
  background: #f15151;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  color: #191919;
  text-align: center;
  font-family: "Outfit";
  font-size: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 55rem;
}

.ctaButton {
}

/* Problem Section */
.problemSection {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 100%;
}

.problemInnerSection {
  display: flex;
  flex-direction: column;
  padding-top: clamp(2rem, 1.019rem + 4.359vw, 6.25rem);
  color: #fff;
  text-align: center;
  gap: clamp(2rem, 1.308rem + 3.077vw, 5rem);
  width: 100%;
  background: #191919;
}

.problemHeading {
  text-align: center;
}

.problemGrid {
  display: flex;
  --gridGap: clamp(0.5rem, 0.269rem + 1.026vw, 1.5rem);
  gap: var(--gridGap);
  justify-content: center;
  flex-wrap: wrap;
}

.problemCard {
  flex: 1 1 calc(33.333% - var(--gridGap));
  color: #fff;
  padding: clamp(0.75rem, 0.346rem + 1.795vw, 2.5rem);
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 0.154rem + 1.538vw, 2rem);
  // justify-content: space-between;
}

.cardTitle {
  color: #fff;
  font-family: "Outfit";
  font-size: clamp(1rem, 0.538rem + 2.051vw, 3rem);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(1.25rem, 0.708rem + 2.41vw, 3.6rem);
}

.cardDescription {
  color: #fff;
  font-family: "Outfit";
  font-size: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.problemFooter {
  color: #191919;
  text-align: center;
  font-family: "Outfit";
  font-size: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  padding-block: clamp(1rem, 0.769rem + 1.026vw, 2rem);
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(241, 81, 81, 0.5) 0%,
    rgba(252, 190, 164, 0.5) 25%,
    rgba(150, 216, 196, 0.5) 50%,
    rgba(195, 223, 244, 0.5) 75%,
    rgba(187, 185, 220, 0.5) 100%
  );

  .problemFooterText {
    text-align: center;
    width: clamp(20rem, 9.846rem + 45.128vw, 64rem);
  }
}
