.structureSection {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.sectionContent {
  display: block;
  width: 100%;
  border-top: 1px solid #999;
}

.container {
  width: 100%;
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: clamp(2rem, 1.019rem + 4.359vw, 6.25rem);
  display: flex;

  @media (max-width: 699px) {
    flex-direction: column;
  }
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.769rem + 1.026vw, 2rem);
}

.title {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: clamp(1.25rem, 0.731rem + 2.308vw, 3.5rem);
  font-style: normal;
  font-weight: 300;
  line-height: clamp(1.75rem, 1.231rem + 2.308vw, 4rem);
}

.description {
  color: #000;
  white-space: pre-line;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.731rem + 0.641vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
}
