.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 0.923rem + 2.564vw, 4rem);
}

.header {
  display: flex;
  justify-content: center; /* center the toggle above grid */
}

.toggle {
  display: inline-flex;
  align-items: center;
  gap: clamp(1rem, 0.827rem + 0.769vw, 1.75rem);
}

.label {
  font-size: clamp(0.875rem, 0.731rem + 0.641vw, 1.5rem);
  font-style: normal;
  font-weight: 600;
  line-height: 1.725rem;
  color: #71717a;
}
.label.active {
  color: #170f49;
}

.switch {
  position: relative;
  width: clamp(4.25rem, 3.788rem + 2.051vw, 6.25rem);
  height: clamp(1.813rem, 1.582rem + 1.026vw, 2.813rem);
  background: #d1d5db;
  border-radius: 624.9375rem;
  border: none;
  cursor: pointer;
  padding: 0.625rem;
}
.knob {
  position: absolute;
  top: 0.375rem;
  left: 0.5rem;
  width: clamp(1.063rem, 0.832rem + 1.026vw, 2.063rem);
  height: clamp(1.063rem, 0.832rem + 1.026vw, 2.063rem);
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0.0748rem 0.5986rem 0 rgba(25, 33, 61, 0.06);
  transition: transform 0.25s ease;
}

/* CSS Modules-safe scoped attr selectors */
.switch[aria-checked="true"] {
  background: #4338ca;
}
.switch[aria-checked="true"] .knob {
  transform: translateX(clamp(2.25rem, 2.019rem + 1.026vw, 3.25rem));
}

.grid {
  // display: grid;
  // grid-template-columns: repeat(4, minmax(0, 1fr));
  --gap: clamp(0.375rem, 0rem + 1.667vw, 2rem);
  gap: var(--gap);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  padding: 1.125rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(1rem, 0.654rem + 1.538vw, 2.5rem);
  padding: clamp(1rem, 0.654rem + 1.538vw, 2.5rem);
  border-radius: clamp(0.875rem, 0.662rem + 0.945vw, 1.796rem);
  border: 0.0938rem solid #f1f2f9;
  background: #fff;
  box-shadow: 0 0.3741rem 2.2449rem 0 rgba(25, 33, 61, 0.06);
  aspect-ratio: 9 / 16;
  justify-content: space-between;
  flex: 1 1 calc(25% - var(--gap));
}

.cardHead {
  display: grid;
  gap: clamp(1.5rem, 0.981rem + 2.308vw, 3.75rem);
  text-align: start;
  width: 100%;
}

.innerCols {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 0.269rem + 1.026vw, 1.5rem);
}

.planName {
  color: #170f49;
  font-size: clamp(1rem, 0.769rem + 1.026vw, 2rem);
  font-style: normal;
  font-weight: 600;
  line-height: clamp(1.75rem, 1.623rem + 0.564vw, 2.3rem);
}
.planBlurb {
  color: #514f6e;
  font-size: clamp(0.75rem, 0.692rem + 0.256vw, 1rem);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
}
.save {
  color: #191919;
  font-size: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
}

.price {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}
.value {
  color: #170f49;
  font-size: clamp(1.5rem, 1.154rem + 1.538vw, 3rem);
  font-style: normal;
  font-weight: 600;
  line-height: clamp(2rem, 1.654rem + 1.538vw, 3.5rem);
}
.suffix {
  color: #a0a3bd;
  font-size: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
}

.ctaBtn {
  width: 100%;
  border-radius: clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
  border: 0.0938rem solid #f1f2f9;
  background: #fff;
  display: flex;
  color: #1b1b1b;
  font-family: "Arial";
  font-size: clamp(0.75rem, 0.692rem + 0.256vw, 1rem);
  font-style: normal;
  font-weight: 700;
  line-height: clamp(1rem, 0.942rem + 0.256vw, 1.25rem);
  padding: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem)
    clamp(1rem, 0.769rem + 1.026vw, 2rem);

  &:hover {
    color: #fff;
    background: #1b1b1b;
  }
}

.horizontalLine {
  background: #d9dbe9;
  width: 100%;
  height: 0.0625rem;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: clamp(1rem, 0.654rem + 1.538vw, 2.5rem);
  align-self: stretch;
}

.featuresIntro {
  color: #170f49;
  font-size: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: clamp(0.5rem, 0.125rem + 1.667vw, 2.125rem);
  padding-left: 0;
  list-style: none;
}
.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #6f6c8f;
  font-size: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
}

.bullet {
  border-radius: 624.9375rem;
  display: grid;
  place-items: center;
  color: #fff;
}

.bullet svg {
  width: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
  height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
}

.footnote {
  color: #6f6c8f;
  font-size: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1.15rem, 0.983rem + 0.744vw, 1.875rem);
  text-align: left;
}

/* highlighted (dark) */
.cardHighlight {
  border-radius: clamp(0.875rem, 0.662rem + 0.945vw, 1.796rem);
  border: 0.0625rem solid #000;
  background: linear-gradient(
    168deg,
    #191919 14.03%,
    rgba(25, 25, 25, 0.75) 123.72%
  );
  box-shadow: 0 0.5986rem 0.9728rem 0 rgba(25, 25, 25, 0.23),
    0 -0.1497rem 0.1497rem 0 rgba(25, 25, 25, 0.15) inset,
    0 0.0748rem 0.0748rem 0 rgba(255, 255, 255, 0.1) inset,
    0 0.2245rem 0.2993rem 0 rgba(223, 238, 255, 0.1) inset;
  color: #fff;
}
.cardHighlight .planName,
.cardHighlight .featuresIntro,
.cardHighlight .item,
.cardHighlight .value,
.cardHighlight .save {
  color: #fff;
}

.cardHighlight .planBlurb,
.cardHighlight .suffix,
.cardHighlight .footnote {
  color: #f1f2f9;
}
.cardHighlight .bullet {
  background: #fff;
}

// .cardLight {
//   background: #F1F2F9;
// }

/* Responsive */
// @media (max-width: 599px) {
//   .grid {
//     grid-template-columns: repeat(2, minmax(0, 1fr));
//     gap: 8px;
//   }

//   .card {
//     border-radius: 12px;
//     padding: 16px;
//   }
// }
// @media (max-width: 40rem) {
//   .grid {
//     grid-template-columns: 1fr;
//   }
// }

@media (max-width: 899px) {
  .card {
    flex: 0 1 calc(50% - var(--gap));
  }
}
