.contactSection {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  --gap: clamp(1.5rem, 0.981rem + 2.308vw, 3.75rem);
  gap: var(--gap);
  // align-self: stretch;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: clamp(1.5rem, 1.282rem + 0.923vw, 2.5rem);
  justify-content: flex-start;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.25rem;
  width: 100%;
}

.eyebrow {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
  width: 100%;
}

.label {
  color: #c7a034;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 0.663rem + 0.385vw, 1.125rem);
  font-style: normal;
  font-weight: 600;
  line-height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
  margin: 0;
}

.title {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: clamp(1.15rem, 0.723rem + 1.897vw, 3rem);
  font-style: normal;
  font-weight: 300;
  line-height: clamp(1.5rem, 0.923rem + 2.564vw, 4rem);
  margin: 0;
  white-space: pre-line;

  .highlight {
    color: #f6292f;
  }
}

.subtitle {
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 0.663rem + 0.385vw, 1.125rem);
  font-style: normal;
  font-weight: 300;
  line-height: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
  margin: 0;
}

.imageWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex: 1;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  flex: 1.1;
  gap: clamp(1.5rem, 1.282rem + 0.923vw, 2.5rem);
  height: auto;
}

// Lower Container

.lowerContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  --gap: clamp(1.5rem, 0.981rem + 2.308vw, 3.75rem);
  gap: var(--gap);
  align-self: stretch;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    flex-direction: column;
  }
}

.lowerLeftContainer {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  gap: clamp(1.5rem, 1.282rem + 0.923vw, 2.5rem);
}

.lowerRightContainer {
  display: flex;
  flex-direction: column;
  flex: 1.2;
  gap: clamp(1.5rem, 1.282rem + 0.923vw, 2.5rem);
}

.serviceCard {
  background: rgba(37, 41, 41, 0.1);
  padding: clamp(1.5rem, 1.038rem + 2.051vw, 3rem);
  display: flex;
  flex-direction: column;
  gap: clamp(1.25rem, 0.962rem + 1.282vw, 2.5rem);
}

.serviceBlock {
  display: flex;
  flex-direction: column;
  gap: clamp(0.325rem, 0.256rem + 0.308vw, 0.625rem);
}

.serviceTitle {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: clamp(0.875rem, 0.731rem + 0.641vw, 1.5rem);
  font-style: normal;
  font-weight: 600;
  line-height: clamp(1.5rem, 1.269rem + 1.026vw, 2.5rem);
}

.serviceText {
  font-family: "Inter", sans-serif;
  color: #000;
  font-size: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1.15rem, 0.954rem + 0.872vw, 2rem);
}

.serviceDivider {
  width: 100%;
  height: 1px;
  background-color: #C7A034;
}

// Left .container Content

.infoCard {
  background-color: #252929;
  color: #ffffff;
  padding: clamp(1.5rem, 1.038rem + 2.051vw, 3rem);
  gap: clamp(1.25rem, 0.962rem + 1.282vw, 2.5rem);
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.infoCardRow {
  display: flex;
  flex-direction: column;
  gap: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
  width: 100%;
}

.infoTitle {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: clamp(1rem, 0.798rem + 0.897vw, 1.875rem);
  font-style: normal;
  font-weight: 600;
  line-height: clamp(1.25rem, 1.019rem + 1.026vw, 2.25rem);
}

.infoText,
.infoLink,
.contactName  {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1.25rem, 1.106rem + 0.641vw, 1.875rem);
}

.infoLinkGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.infoLink {
  color: #c7a034;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.25);
}
