.serviceSection,
.leftLayout,
.rightLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: clamp(1rem, 0.308rem + 3.077vw, 4rem);
  align-items: flex-start;
  overflow: hidden;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.rightLayout {
  .container {
    flex-direction: row-reverse;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
}

.imageWrapper {
  position: relative;
  flex: 1;
  // min-height: 504px;
  width: 100%;
  min-height: 200px;
  height: -webkit-fill-available;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  position: static;
}

.content {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
  flex: 1;
}

.label {
  color: #252929;
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.title {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.descContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.942rem + 0.256vw, 1.25rem);
  color: #333;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.846rem + 0.128vw, 1rem);
  font-style: normal;
  line-height: 1.375rem;
  letter-spacing: 0.24px;
}

.description {
  font-weight: 400;
  white-space: pre-line;
}

.targetSegment strong {
  font-weight: 600;
}

.scopeOfWork {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.scopeTitle {
  font-weight: 600;
}

.scopeList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

  li {
    padding-left: 1.5rem;
    position: relative;

    &::before {
      content: "•";
      position: absolute;
      left: 0;
      color: #000;
      font-weight: 600;
    }
  }
}
