.section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.left {
  position: sticky;
  top: 8rem;
  align-self: flex-start;
}

.right {
  width: min(900px, 70%);
}

@media (max-width: 1200px) {
  .row {
    flex-direction: column;
  }
  .left {
    position: static;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
