.wrapper {
  display: flex;
  flex-direction: column;
  gap: clamp(0.55rem, 0.446rem + 0.462vw, 1rem);
  width: 100%;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: clamp(0.4rem, 0.262rem + 0.615vw, 1rem);
  padding: clamp(0.3rem, 0.231rem + 0.308vw, 0.6rem)
    clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
  width: 100%;
  max-width: 800px;
  gap: 10px;

  input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-family: "Outfit" sans-serif;
    font-size: clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  button {
    background: hsl(0, 0%, 13%);
    border: none;
    border-radius: clamp(0.25rem, 0.135rem + 0.513vw, 0.75rem);
    padding: clamp(0.25rem, 0.135rem + 0.513vw, 0.75rem);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.searchIcon {
  width: clamp(0.75rem, 0.62rem + 0.577vw, 1.313rem);
  height: auto;
  color: #fff;
}

// .results {
//   display: flex;
//   flex-wrap: wrap;
//   gap: clamp(0.25rem, 0.077rem + 0.769vw, 1rem);
//   max-height: 100px;
//   overflow-x: scroll;
// }

.results {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(0.25rem, 0.077rem + 0.769vw, 1rem);
  // max-height: clamp(4.5rem, -0.231rem + 21.026vw, 25rem);
  max-height: clamp(6rem, 3.692rem + 10.256vw, 16rem);
  overflow-x: auto;   /* horizontal scrolling */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.results > * {
  padding: 0.75rem 1.5rem;  /* controls button size */
  border-radius: 9999px;    /* pill shape */
  white-space: nowrap;      /* keep text inline */
}

.results::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


.serviceBtn {
  padding: clamp(0.25rem, 0.135rem + 0.513vw, 0.75rem)
    clamp(0.75rem, 0.635rem + 0.513vw, 1.25rem);
  border-radius: 9999px;
  text-decoration: none;
  font-size: clamp(0.75rem, 0.721rem + 0.128vw, 0.875rem);
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: background 0.2s;
  white-space: nowrap; /* keep text in one line */

  &:hover {
    background: #000;
  }

  .arrow {
    font-weight: bold;
  }
}
