.section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  --gap: clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
  gap: var(--gap);
}

.benefitsHeadingRow {
  flex: 0 0 calc(68% - var(--gap));
}

.ctaWrapper {
  flex: 0 0 calc(32% - var(--gap));
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin-left: auto;
}

.benefitsButton {
  color: #fff;
  background: #222;
  width: max-content;

  &:hover {
    background: #fff;
    color: #1b1b1b;
  }
}

// @media (min-width: 600px) and (max-width: 1023px) {
//   .benefitsHeadingRow {
//     flex: 0 0 calc(70% - var(--gap));
//   }
//   .ctaWrapper {
//     flex: 0 0 calc(30% - var(--gap));
//     align-items: flex-end;
//   }
// }

.grid {
  display: flex;
  flex-wrap: wrap;
  --gridgap: clamp(0.5rem, 0.038rem + 2.051vw, 2.5rem);
  gap: var(--gridgap);
}

/* First two cards take half width */
.card {
  position: relative;
  background: #222;
  color: #fff;
  padding: clamp(0.75rem, 0.462rem + 1.282vw, 2rem);
  flex: 1 1 calc(50% - var(--gridgap));
  transition: transform 0.2s ease;
  overflow: hidden;
  height: clamp(10rem, 7.981rem + 8.974vw, 18.75rem);
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, 0.154rem + 1.538vw, 2rem);
  min-width: 152px;
  // justify-content: space-between;

  // overlay image
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/images/services/benefits_card_bg.png") center/cover
      no-repeat;
    opacity: 1;
    pointer-events: none;
  }

  // put text above overlay
  h3,
  p {
    position: relative;
    z-index: 1;
    width: 100%;
  }
}

/* First two cards = half width */
.card {
  flex: 1 1 calc(50% - var(--gridgap));
}

/* From 3rd card onward = one-third width */
.card:nth-child(n + 3) {
  flex: 1 1 calc(33.333% - var(--gridgap));
}

.card:hover {
  transform: translateY(-4px);
}

@media (max-width: 599px) {
  .card:last-child {
    height: fit-content;
  }
}

.cardTitle {
  color: #fff;
  font-family: "Outfit";
  font-size: clamp(1rem, 0.654rem + 1.538vw, 2.5rem);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(1.5rem, 1.125rem + 1.667vw, 3.125rem);
  max-width: 80%;
}

.cardDescription {
  color: rgba(255, 255, 255, 0.75);
  font-family: "Outfit";
  font-size: clamp(0.75rem, 0.577rem + 0.769vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// /* Responsive: stack on mobile */
// @media (max-width: 768px) {
//   .card {
//     flex: 1 1 100% !important;
//   }
// }
