.ctaSection {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #252929;
}

.backgroundImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/home/ctaBg.png");
  z-index: 1;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  z-index: 2;
  padding-block: 100px;
}

.label {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.title {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px;
  margin: 0;
}

.stripesWrapper {
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.stripes {
  width: 200%;
  height: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #c7a034,
    #c7a034 15px,
    #25292900 15px,
    #25292900 30px
  );
  //   animation: moveStripes 20s linear infinite;
}

// @keyframes moveStripes {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-50%);
//   }
// }
