.ctaSection {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #252929;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backgroundImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/home/ctaBg.png");
  z-index: 1;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(0.5rem, 0.385rem + 0.513vw, 1rem);
  position: relative;
  z-index: 2;
  padding-block: clamp(2rem, 1.019rem + 4.359vw, 6.25rem);
  color: #fff;
}

.label {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 0.663rem + 0.385vw, 1.125rem);
  font-style: normal;
  font-weight: 600;
  line-height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
  text-transform: uppercase;
}

.title {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 0.769rem + 1.026vw, 2rem);
  font-style: normal;
  font-weight: 300;
  line-height: clamp(1.5rem, 1.154rem + 1.538vw, 3rem);
  margin: 0;
}

.stripesWrapper {
  width: 100%;
  height: clamp(1.75rem, 1.288rem + 2.051vw, 3.75rem);
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.stripes {
  width: 200%;
  height: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #c7a034,
    #c7a034 clamp(0.75rem, 0.692rem + 0.256vw, 1rem),
    #25292900 clamp(0.75rem, 0.692rem + 0.256vw, 1rem),
    #25292900 clamp(1.25rem, 1.077rem + 0.769vw, 2rem)
  );
  //   animation: moveStripes 20s linear infinite;
}

// @keyframes moveStripes {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-50%);
//   }
// }
