.aboutSection {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}

.columnLayout {
  .container {
    flex-direction: column;
  }

  .leftColumn {
    width: 100%;
  }

  .rightColumn {
    width: 100%;
  }
}

.container {
  display: flex;
  align-items: stretch;
  --gap: clamp(2rem, 1.019rem + 4.359vw, 6.25rem);
  gap: var(--gap);
  align-self: stretch;
  flex-wrap: wrap;

  @media (max-width: 799px) {
    flex-direction: column;
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: clamp(2rem, 1.538rem + 2.051vw, 4rem);
  min-height: 100%;

  > * {
    flex: 1 1 50%;
  }
}

.imageWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 0;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.paragraph {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: clamp(0.875rem, 0.731rem + 0.641vw, 1.5rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1.25rem, 1.077rem + 0.769vw, 2rem);
  white-space: pre-line;
}
