.legacySection {
  position: relative;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.backgroundContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.backgroundImage {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 10%;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 48px;
  background: rgba(37, 41, 41, 0.6);
  -webkit-backdrop-filter: blur(8.5px);
  backdrop-filter: blur(8.5px);
}

.contentCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  width: 100%;
  text-align: left;
  color: white;
}

.title {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.subtitle {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
}

.content {
  white-space: pre-line;
}

.paragraph {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  white-space: pre-line;
}

.author {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.highlight {
  font-weight: 600; /* Bold */
  font-style: normal;
}
