.legacySection {
  position: relative;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.backgroundContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.backgroundImage {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 10%;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: clamp(1rem, 0.538rem + 2.051vw, 3rem);
  background: rgba(37, 41, 41, 0.6);
  -webkit-backdrop-filter: blur(8.5px);
  backdrop-filter: blur(8.5px);
}

.contentCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  width: 100%;
  text-align: left;
  color: white;
}

.title {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 0.663rem + 0.385vw, 1.125rem);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
}

.subtitle {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: clamp(1.35rem, 1.056rem + 1.308vw, 2.625rem);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(1.75rem, 1.346rem + 1.795vw, 3.5rem);
}

.content {
  white-space: pre-line;
}

.paragraph {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 0.692rem + 0.256vw, 1rem);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
  white-space: pre-line;
}

.author {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.75rem, 0.692rem + 0.256vw, 1rem);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(1rem, 0.885rem + 0.513vw, 1.5rem);
}

.highlight {
  font-weight: 600;
  font-style: normal;
}
